* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  50% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding: 30px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s cubic-bezier(0.5, 0, 0.5, 1) forwards; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s cubic-bezier(0.5, 0, 0.5, 1) forwards; }

.btn:link, .btn:visited {
  padding: 2rem 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 2rem;
  display: inline-block;
  transition: all 0.2s ease-in-out; }
  .btn:link:hover, .btn:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:link:active, .btn:visited:active {
    transform: translateY(0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:link--white, .btn:visited--white {
    background-color: #fff;
    color: #000; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.659), rgba(40, 180, 133, 0.474)), url("../img/hero.jpg");
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
