.btn {
  &:link,
  &:visited {
    padding: 2rem 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 2rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }
    &:active {
      transform: translateY(0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }
  }
  &--white {
    background-color: $color-white;
    color: $color-black;
  }
}
.btn-text {
  &:link,
  &:visited {
    text-transform: uppercase;
    font-size: $default-font-size;
    text-decoration: none;
    padding: 13px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid $color-primary-light;
    color: $color-primary-light;
    &:hover {
      background-color: $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
      color: $color-white;
      border-radius: 5px;
    }
    &:active {
      transform: translateY(0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
    }
  }
}
