.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.659),
      rgba($color-primary-dark, 0.474)
    ),
    url('../img/hero.jpg');
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);

  background-position: center;
  background-size: cover;
  position: relative;
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }
  &__logo {
    height: 3rem;
  }
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
